body, html {
    height: 100%;
    background-image: url(../img/bg/bg.jpg);
    background-repeat-x: repeat;
}

.bottom-block {
    position: absolute;
    bottom: 0;
}

.iframe_flex iframe {
    width: 100%;
    height: 100%;
}

div[data-key] {
    visibility: hidden;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 960px) {
    #location {
        position: relative;
        margin: 0;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 960px;
    }
}

#location {
    top: 0;
    left: 0;
    width: 100%;
    height: 390px;
}

.table-info-custom {
    background-color: #97eefb38;
}

.custom-list > li {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.card-header {
    background-color: rgba(167, 221, 245, 0.36);
}

#image-gallery .modal-footer {
    display: block;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

@media (max-width: 576px) {
    .main-page-cards {
        padding: 0 !important;
    }
}

.text-shadow {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.table td, .table th {
    padding: .3rem;
}